@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

#__bs_notify__ {
    display: none!important;
}

body {
    position: relative;
    right: 0;
    font-family: 'Lato', sans-serif;
    transition: .5s;
    overflow: visible!important;
}

body.moved {
    right: 200px;
}

/* fullpage */

.section {
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

/* footer */

footer {
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    bottom: -50px;
    position: fixed;
    width: 100%;
    font-size: 18px;
    text-align: center;
    transition: .5s ease;
    color: white;
}

footer.active {
    opacity: 1;
    bottom: 0;
}