@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
.navbar {
  position: absolute;
  z-index: 1000;
  width: 100%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  padding: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.navbar__logo {
  position: relative;
  left: 4px;
  float: left;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  width: 36px;
  height: 36px;
  background: #718198;
  -webkit-transform: scale(1.25);
     -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
       -o-transform: scale(1.25);
          transform: scale(1.25); }

/* do zrobienia */
.navbar__list {
  padding: 0;
  margin: 0;
  float: right; }

.navbar__list_item {
  background: #718198;
  float: left;
  list-style: none;
  margin: 0 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.navbar__list_item:first-child {
  margin-left: 0; }

.navbar__list_item:last-child {
  margin-right: 0; }

.navbar__list_item:hover {
  background: black; }

.navbar_link {
  display: inline-block;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 36px; }

#__bs_notify__ {
  display: none !important; }

body {
  font-family: 'Lato', sans-serif; }

/* fullpage */
.section {
  background-repeat: no-repeat;
  -o-background-size: cover;
     background-size: cover; }

/* intro */
#intro h1 {
  padding: 15px 25px;
  margin: 10px auto;
  color: #4A586E;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

#intro h3 {
  padding: 10px 15px;
  margin: 10px auto;
  color: #718198;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

#intro a {
  display: inline-block;
  margin-top: 100px;
  background: #4A586E;
  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 18px;
  padding: 20px 35px;
  color: white;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s; }

#intro a:hover {
  background: #28364C; }

/* disabilities */
.disability {
  text-align: center; }

.disability img {
  -webkit-border-radius: 200px;
          border-radius: 200px;
  height: 125px;
  width: 125px; }

.disability figcaption {
  background: #718198;
  color: white;
  padding: 5px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 150px;
  margin: 20px auto 10px auto; }

/* footer */
footer {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  bottom: -50px;
  position: fixed;
  width: 100%;
  font-size: 18px;
  text-align: center;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  -moz-transition: .5s ease;
  transition: .5s ease;
  color: white; }

footer.active {
  opacity: 1;
  bottom: 0; }
