// Breakpoints for media queries

// #1 Smartphones

$mobile_up: 599px;
$tablet_down: 600px;

// #2 Tablets

$tablet_up: 899px;
$laptop_down: 900px;

// #3 Laptops

$laptop_up: 1199px;
$desktop_down: 1200px;

// #4 Laptops

$desktop_up: 1599px;
$pc_down: 1600px;

