.container-article {
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 840px;
    width: 100%;
    
    @media (max-width: $tablet_up) {
        padding-top: 200px;
    }
    
    @media (max-width: $mobile_up) {
        padding-top: 70px;
    }
    
    article {
        border-radius: 4px;
        
        h1.entry-title {
            padding:40px 20px 0 20px;
        }
        
        .entry-content,
        .entry-footer {
            font-size: 24px;
            color: $light-gray;
        }
        
        img {
            width: 100%;
            height: auto
        }
        
        .entry-footer {
            a {
                color: $accent;
            }
        }
    }
}

.all_categories {
    padding-top: 35px;
    
    .categories_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .category {
            width: 350px;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            
            @media (max-width: $mobile_up) {
                width: 100%;
            }

            .thumbnail {
                background-position: center;
                background-size: cover;
                height: 100px;
                width: 100px;
                border-radius: 100px;
            }

            .hyperlink {
                margin-left: 40px;
                font-size: 24px;
                color: $mid-gray;
                text-decoration: none;
            }
        }
    }
}