@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');

#__bs_notify__ {
    display: none!important;
}

body {
    font-family: 'Lato', sans-serif;
}

/* navbar */

.navbar {
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: .5s;
    padding: 20px;
    box-sizing: border-box;
}

.navbar__logo_wrapper {
    position: relative;
    left: 4px;
    float: left;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    background: #718198;
    transform: scale(1.25);
}

/* do zrobienia */
.navbar__burger {
    
}

.navbar__list {
    padding: 0;
    margin: 0;
    float: right;
}

.navbar__list_item {
    background: #718198;
    float: left;
    list-style: none;
    margin: 0 10px;
    border-radius: 3px;
}

.navbar__list_item:first-child {
    margin-left: 0;
}

.navbar__list_item:last-child {
    margin-right: 0;
}

.navbar__list_item:hover {
    background: black;
}

.navbar_link {
    display: inline-block;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 36px;
}

/* intro */

#intro h1 {
    padding: 15px 25px;
    margin: 10px auto;
    color: #fff;
    border-radius: 5px;
    background: #4A586E;
}

#intro h3 {
    background: #718198;
    padding: 10px 15px;
    margin: 10px auto;
    color: #fff;
    border-radius: 5px;
}

#intro a {
    display: inline-block;
    margin-top: 100px;
    background: #4A586E;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 35px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

#intro a:hover {
    background: #28364C
}

/* disabilities */

.disability {
    text-align: center;
}

.disability img {
    border-radius: 200px;
    height: 125px;
    width: 125px;
}

.disability figcaption {
    background: #718198;
    color: white;
    padding: 5px;
    border-radius: 3px;
    width: 150px;
    margin: 20px auto 10px auto;
}

/* footer */

footer {
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    bottom: -50px;
    position: fixed;
    width: 100%;
    font-size: 18px;
    text-align: center;
    transition: .5s ease;
    color: white;
}

footer.active {
    opacity: 1;
    bottom: 0;
}