.articles {
    .article {
        margin: 25px 0;
        
        .img {
            height: 150px;
            width: 150px;
            flex-basis: 150px;
            border-radius: 200px;
            background-color: $secondary-color;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            margin: 0 auto;
        }
        
        .text {
            color: $primary-color;
            font-size: 20px;
            line-height: 30px;
            font-weight: 300;
            padding-left: 30px;
        }
    }
}