.disabilities {
    
    .disability-list {
        
        .img{
            border-radius:200px;
            width: 175px;
            height: 175px;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            margin: 0 auto;
            background-color: $secondary-color;
            
            @media (max-width: 691px) {
                width: 125px;
                height: 125px;
            }
        }
        
        @media (min-width: 691px) {
            .box {
                width: auto;
                flex-basis: auto;
                max-width: auto;
            }
        }
        
        .caption {
            color:  $primary-color;
            border-radius: 3px;
            width: 150px;
            margin: 20px auto 10px auto;
            font-size: 24px;
            
            @media (max-width: 691px) {
                font-size: 18px;
            }
            
        }
        
        .button {
            margin-bottom: 10px;
            
            @media (max-width: 691px) {
                padding: 5px 15px;
            }
        }

    }
    
    .disability-pointer-wrapper {
        height: 100px;
        
        .box {
            width: 15%;
            flex-basis: 15%;
            max-width: auto;
            
            .disability-pointer {
                z-index: -1;
                margin: 0 auto;
                position: relative;
                top: 60px;
                height: 100px;
                width: 100px;
                background: $primary-color;
                transform: rotate(45deg);
                border-radius: 5px;
                
                pointer-events: none;
                opacity: 0;
                transition: .5s;
                
                &.active {
                    pointer-events: auto;
                    opacity: 1;
                }
            }
        }
        
        @media (max-width: 691px) {
            display: none;
        }
    
    }
    
    .disability-description {
        z-index: 1000;
        height: 400px;
        background: $primary-color;
        border-radius: 4px;
        padding: 50px;
        
        .img {
            background: $secondary-color;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
            border-radius: 4px;
        }
        
        .description p{
            margin: 0 10px 20px 10px;
            color: white;
            font-weight: 300;
            font-size: 20px;
        }
        
        @media (max-width: 691px) {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }
}

 
 

