header h1 {
    padding: 15px 25px;
    margin: 10px auto;
    color: $primary-color;
    border-radius: 5px;
}

header h3 {
    padding: 10px 15px;
    margin: 10px auto;
    color: $secondary-color;
    border-radius: 5px;
}

header .button {
    margin-top: 75px;
    padding: 20px 35px;
}