.navbar {
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: .5s;
    padding: 20px;
    box-sizing: border-box;
    
    
    .logo_wrapper {
        
    }
    
    .logo {
        position: relative;
        left: 4px;
        float: left;
        border-radius: 100px;
        width: 36px;
        height: 36px;
        background: $secondary-color;
        transform: scale(1.25);
    }
    
    .burger {
        float: right;
        
        &:hover {
            cursor: pointer
        }
    }
    
    .menu {
        float: right;
        margin: 0;
        li {
            float: left;
            margin: 0 10px;
            border-radius: 3px;

            a {
                display: inline-block;
                padding: 0 10px;
                color: $secondary-color;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.navbar_mobile {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background: $primary-color;
    
    .menu {
        margin-top: 10px;
        
        li {
            text-align: center;
            
            a {
                
                color: white;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar .burger {
        display: none;
    }
    
    .navbar_mobile {
        display: none;
    }
}

@media (max-width: 767px) {
        
    .navbar .menu{
        display: none;
    }
}

.navbar .menu,
.navbar_mobile .menu {
    padding: 0;
}

.navbar li,
.navbar_mobile li {
    list-style: none;
}

.navbar li a,
.navbar_mobile li a{
    text-decoration: none;
    font-size: 18px;
    line-height: 36px;
}











