.navbar {
    position: absolute;
    z-index: 1000;
    width: 100%;
    transition: .5s;
    padding: 20px;
    box-sizing: border-box;
}

.navbar__logo {
    position: relative;
    left: 4px;
    float: left;
    border-radius: 100px;
    width: 36px;
    height: 36px;
    background: $secondary-color;
    transform: scale(1.25);
}

/* do zrobienia */
.navbar__burger {
    
}

.navbar__list {
    padding: 0;
    margin: 0;
    float: right;
}

.navbar__list_item {
    background: $secondary-color;
    float: left;
    list-style: none;
    margin: 0 10px;
    border-radius: 3px;
}

.navbar__list_item:first-child {
    margin-left: 0;
}

.navbar__list_item:last-child {
    margin-right: 0;
}

.navbar__list_item:hover {
    background: black;
}

.navbar_link {
    display: inline-block;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 36px;
}