#about-project {
    padding-top: 75px;
    
    .container_about_project {

        margin: 0 auto;
        
        h1 {
            text-align: center;
        }

        h1:after {
            content: "";
            width: 120px;
            height: 3px;
            background: $primary-color;
            display: block;
            margin: 15px auto 0 auto;
        }

        .col-text  {
            width: 50%;
            margin: 0 auto;
            
            @media (max-width: $laptop_up) {
                width: 100%;
            }

            p {
                text-align: justify;
                font-size: 24px;
                font-weight: 300;
                
                @media (max-width: $mobile_up) {
                    font-size: 20px;
                }
                
            }

            .button {
                margin-top: 25px;
                padding: 20px 75px;
            }
        }
    }

    .container_objectives {
        padding-top: 60px;
        
        h1 {
            text-align: center;
        }

        h1:after {
            content: "";
            width: 120px;
            height: 3px;
            background: $primary-color;
            display: block;
            margin: 15px auto 0 auto;
        }
        
        
        .objectives  {
            display: flex;
            justify-content: space-around;
            flex-wrap: no-wrap;
            width: 100%;
            
            @media (max-width: $tablet_up) {
                flex-wrap: wrap;
            }
            
            .objective {
                width: 350px;
                
                @media (max-width: $tablet_up) {
                    width: 100%;
                }
                
                .icon {
                    display: block;
                    height: 100px;
                    width: 100px;
                    margin: 80px auto 40px auto;
                    
                    @media (max-width: $mobile_up) {
                        height: 60px;
                        width: 60px;
                        margin: 30px auto 30px auto;
                    }
                    
                }

                .caption {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 300;
                    
                    @media (max-width: $mobile_up) {
                        font-size: 20px;
                    }
                }
            }
             
        }
    }
}

